#main-h2 {
    margin-top: 60px;
    color: #343634;
    font-weight: 500;
}

#main-span {
    color: #343634;
    font-weight: 400;
    font-size: 24px;
}

#about-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    /* Black */
    
    color: #343634;
}

