#work-img-box{
    background-image: url('../images/work-group.jpg');
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
}

#main-h2 {
    margin-top: 60px;
    color: #343634;
    font-weight: 500;
}

#main-span {
    color: #343634;
    font-weight: 400;
    font-size: 24px;
}

#about-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    /* Black */

    color: #343634;
}

#join-icon {
    padding: 20px;
    width: 120px;
    height: 120px;
    background-color: #9CC955;
}



#join-desc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    /* Black */

    color: #343634;
}

#join-title {
    font-family: 'Noto Sans CJK TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    /* Black */

    color: #343634;
}

#fh5co-content-section {
    background-color: #E1DF68;
}


#contact-icon-box{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}

#contact-map-box{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}

#contact-icon {
    padding: 35px;
    width: 100%;
    height: 100%;
    
}

#contact-email {
    padding: 35px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: 100%;
    
}

#contact-map {
    width: 100%;
    height: 100%;
    
}

#fh5co-contact-section {
    background: #ED6B2C;
    color: #FFFFFF;
    padding: 5em;
}

#contact-icon-desc {
    color: #FFFFFF;
}

#contact-icon-desc  a{
    color: #FFFFFF;
}

#contact-box{
    padding-bottom: 3em;
}

#contact-box h2{
    color: #FFFFFF;
}

#toggle-a{
    background-color: #ed6c2c6c;
}