#main-h2 {
    margin-top: 60px;
    color: #343634;
    font-weight: 500;
}

#main-span {
    color: #343634;
    font-weight: 400;
    font-size: 24px;
}

#about-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    /* Black */

    color: #343634;
}

#join-icon {
    padding: 20px;
    width: 120px;
    height: 120px;
    background-color: #9CC955;
}



#join-desc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    /* Black */

    color: #343634;
}

#join-title {
    font-family: 'Noto Sans CJK TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    /* Black */

    color: #343634;
}

#fh5co-content-section {
    background-color: #E1DF68;
}


#contact-icon {
    border-radius: 45%;
    padding: 20px;
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
}

#fh5co-contact-section {
    background: #ED6B2C;
    color: #FFFFFF;
    padding: 5em;
}

#contact-icon-desc {
    color: #FFFFFF;
}

#contact-box{
    padding-bottom: 3em;
}

#contact-box h2{
    color: #FFFFFF;
}